<!--The content below is only a placeholder and can be replaced.-->

<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.label" [term]="t"></ngb-highlight>
</ng-template>


<ul ngbNav #nav="ngbNav" class="nav-tabs" (navChange)="onNavChange()">
  <li ngbNavItem>
    <a ngbNavLink>Find a report card</a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <p>Find a report card</p>
          <input class="form-control" [(ngModel)]="selectedReport" [ngbTypeahead]="search" [resultTemplate]="rt"
            [inputFormatter]="reportFormatter" placeholder="eg. New South Wales">
        </div>
      </div>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Search for scorecards by location</a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <p>Enter address</p>
          <input class="form-control" [(ngModel)]="address" (ngModelChange)="addressChange()">
        </div>
        <div class="col-sm-12 col-md-8">
          <p>or</p>
          <button class="btn btn-primary" (click)="useLocation()">
            Use my current location
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <p><strong>Address: </strong>{{matchedAddress}}</p>
          <p *ngIf="matchedReports?.length"><strong>Found {{matchedReports?.length}} nearby report cards: </strong></p>

          <select class="form-control" *ngIf="matchedReports?.length" [(ngModel)]="selectedReport">
            <option *ngFor="let report of matchedReports" [ngValue]="report">
              {{report.label}}
            </option>
          </select>
        </div>
      </div>
    </ng-template>

  </li>
  <!--

  <li ngbNavItem>
    <a ngbNavLink>Lookup any scorecard</a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div>
            <p>Choose region type</p>
            <select class="form-control" [(ngModel)]="selectedLayer" (ngModelChange)="layerChange()">
              <option *ngFor="let layer of layers" [ngValue]="layer">{{layer.name}}</option>
            </select>
          </div>

          <div *ngIf="selectedLayer">

            <p>Choose region</p>
            <select class="form-control" [(ngModel)]="selectedFeature" (ngModelChange)="featureChange()">
              <option *ngFor="let feature of selectedLayer.features" [ngValue]="feature">
                {{feature[selectedLayer.labelField]}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
-->
</ul>
<div [ngbNavOutlet]="nav"></div>

<div class="row">
  <div class="col">
    <div style="height:40px;"></div>
    <a class="btn btn-primary" [ngClass]="{disabled:!url}" [href]="url" target="blank">
      Get report
    </a>
  </div>
</div>
