<!--The content below is only a placeholder and can be replaced.-->

<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>Scorecards for nearby locations</a>
    <ng-template ngbNavContent>
      <input [(ngModel)]="address" (ngModelChange)="addressChange($event)">

      <button (click)="useLocation()">Use my current location</button>

      <p>{{matchedAddress}}</p>
      <ul>
        <li *ngFor="let report of matchedReports">{{report}}</li>
      </ul>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Lookup any scorecard</a>
    <ng-template ngbNavContent>
      <div>
        <select [(ngModel)]="selectedLayer" (ngModelChange)="layerChange($event)">
          <option *ngFor="let layer of layers" [ngValue]="layer">{{layer.name}}</option>
        </select>
      </div>

      <div *ngIf="selectedLayer">
        <select [(ngModel)]="selectedFeature" (ngModelChange)="featureChange($event)">
          <option *ngFor="let feature of selectedLayer.features" [ngValue]="feature">
            {{feature[selectedLayer.labelField]}}
          </option>
        </select>
      </div>

      {{selectedFeature|json}}
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
