/* You can add global styles to this file, and also import other style files */

$primary: #00565D;
@import '../node_modules/bootstrap/scss/bootstrap';


html {
  overflow-x: hidden;
}

body {
  background-color: transparent;
}

.search-input {
  padding-top: 30px;
}